<div style="width: 50%; margin: 0 auto;">
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Period</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="?sub=month">Per month</a></li>
      <li><a href="?sub=week">Per week</a></li>
      <li><a href="?sub=day">Per day</a></li>
    </ul>
  </div>
  <div class="stat-block">
    <h1>average dwell time</h1>
    <div id="average_dwell_time"></div>
  </div>
  <div class="stat-block">
    <h1>unique visitors</h1>
    <div id="unique_visitors"></div>
  </div>
  <div class="stat-block">
    <h1>repeating visitors percent</h1>
    <div id="repeating_visitors"></div>
  </div>
</div>
<style type="text/css">
  .stat-block {
    padding-bottom: 100px;
  }
</style>
<script type="text/javascript">
$(document).ready(function() {
  var baseOptions = {
    domain: "year",
    subDomain: "<%= raw @sub_domain %>" || "month",
    start: new Date(2014, 0),
    cellSize: 25,
    range: 1,
    previousSelector: "#previousSelector-a-previous",
    nextSelector: "#previousSelector-a-next",
    // subDomainTextFormat: subDomainTextFormat(),
    tooltip: true
  };
  if(baseOptions.subDomain==='week'){
    $.extend(baseOptions, { rowLimit: 7 });
  }

  var average_dwell_time = new CalHeatMap();
  average_dwell_time.init($.extend(baseOptions, {
    itemSelector: "#average_dwell_time",
    data: <%= raw @average_dwell_time.to_json %>,
    legend: [20, 40, 60, 100],
    itemName: ["minute", "minutes"]
  }));

  var unique_visitors = new CalHeatMap();
  unique_visitors.init($.extend(baseOptions, {
    itemSelector: "#unique_visitors",
    data: <%= raw @unique_visitors_count.to_json %>,
    legend: [5, 10, 50, 100],
    itemName: ["visitor", "visitors"]
  }));

  var repeating_visitors = new CalHeatMap();
  repeating_visitors.init($.extend(baseOptions, {
    itemSelector: "#repeating_visitors",
    data: <%= raw @repeating_visitors_data.to_json %>,
    legend: [10, 30, 60, 90],
    itemName: ["%", "%"]
  }));

  $( "#stat-period").change(function() {
    window.location='?sub=' + this.value;
  });

  function subDomainTextFormat(){
    if($( "#stat-period").val() == 'week'){
      return "%d";
    }
    else {
      return "%" + $( "#stat-period").val().substring(0,1);
    }
  };
});
</script>
