<!DOCTYPE html>
<html>
<head>
  <title>Table With Embedded Line Chart</title>
  <%= stylesheet_link_tag    'tables', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'tables', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
